---
layout: default
title: Today I Learned
---

<div class="posts">
  <h1 class="page-title">{{ page.title }}</h1>
  <div class="section-introduction">This is a collection of short explanations and findings along the way that did not deserve a full article, but have nevertheless found their place on this blog.</div>

  {% for post in site.posts %}
  {% if post.categories contains 'til' %}
  <div class="post-listing">
    <h1 class="post-listing-title">
      <a href="{{ post.url | prepend: site.baseurl }}">
        {{ post.title }}
      </a>
    </h1>
    <span class="post-listing-date">{{ post.date | date_to_string }}</span>
    <span class="post-listing-tags">{{ post.tags | array_to_sentence_string }}</span>
  </div>
  {% endif %}
  {% endfor %}
  <div class="footer">
    <a href="{{ site.baseurl }}/">Home</a>
    <a href="{{ site.baseurl }}/about">About</a>
    <a href="{{ site.baseurl }}/notebooks/">Notebooks</a>
  </div>
</div>
